@using HospitalManagement.Data;
@model List<Doctor>

@{
}

<h1 class="text-center my-4 text-dark">Doktorlar Sayfasi</h1>

@if (@TempData["basarili"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Tebrikler!</strong> <a href="#" class="alert-link">@TempData["basarili"]</a>.
    </div>
}

<div class="container">
    <div class="row">
        @foreach (var doctor in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm border-dark">
                    <div class="card-body">
                        <h5 class="card-title text-dark">@doctor.Name @doctor.Surname</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@doctor.Department</h6>
                        <p class="card-text">
                            @if (doctor.WorkingHourses != null && doctor.WorkingHourses.Any())
                            {
                                <ul>
                                    @foreach (var time in doctor.WorkingHourses)
                                    {
                                        <li>@time.Times</li>
                                    }
                                </ul>
                            }
                        </p>
                        <a asp-controller="Doctor" asp-action="AddUpdate" asp-route-id=@doctor.Id class="btn btn-outline-success">Güncelle</a>
                        <a asp-controller="Doctor" asp-action="Delete" asp-route-id="@doctor.Id" class="btn btn-outline-dark">Sil</a>
                        <a asp-controller="Doctor" asp-action="Detail" asp-route-id="@doctor.Id" class="btn btn-outline-info">Detay</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="d-grid gap-2 my-3">
        <a asp-controller="Doctor" asp-action="AddUpdate" class="btn btn-lg btn-dark">Doktor Ekle</a>
    </div>
</div>
